.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 1.5rem;
    background: #727275;
    background-size: 400%;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(to right, #a03c44, #f12727);
    transition: all 0.475s;
}