.section2 {
    background-color: whitesmoke;
    width: 100%;
    height: 70vh;
}

.section2-container>.text {
    color: white;
    justify-content: center;
    align-items: center;
}

.BoasImpresoes1 {
    color: #bc3434;
    font-size: 35px;
    text-decoration: underline white;
    
}

.section2-container {
    width: 100%;
    height: 100vh;
    background-color: rgb(95, 11, 11);
}

.section2-container>.text {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    align-items: center;
    padding: 10px;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 0px;
    padding: 0px 0px 0px 700px;
}

.card {
    display: flex;
    box-sizing: border-box;
    width: 130px;
    height: 60px;
    background: rgb(255, 255, 255);
    border: 1px solid #000000;
    box-shadow: 10px 5px 20px;
    backdrop-filter: blur(6px);
    border-radius: 180px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.card:hover {
    border: 3px solid #000000;
    transform: scale(1.1);
}

.card:active {
    transform: scale(10) rotateZ(1.7deg);
}

.section2 img {
    width: 120px;
    height: auto;
}

.section2 img:hover {
    transition: transform 0.3s ease;
}

.section2 h1 {
    
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    padding: 150px 0px 0px 790px;
}

.section2 h2 {
    
    justify-content: center;
    align-items: center;
    color: rgb(189, 186, 186);
    font-size: 16px;
    padding: 60px 0px 35px 0px;
}

.section2 img.printed {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    position: absolute;
}

.section2 span {
    color: #bb3434;
    
}

