.section2 {
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
}

.section2-container>.text {
    color: white;
    justify-content: center;
    align-items: center;
}

.BoasImpresoes1 {
    color: white;
    font-size: 38px;

}

.section2-container {
    width: 100%;
    height: 100vh;
    background-color: rgb(95, 11, 11);
}

.section2-container>.text {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    align-items: center;
    padding: 10px;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 0px;
    padding: 0px 0px 0px 750px;
}

.card {
    display: flex;
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    background: rgb(255, 255, 255);
    border: 1px solid #000000;
    box-shadow: 10px 5px 20px;
    backdrop-filter: blur(6px);
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.card:hover {
    border: 3px solid #000000;
    transform: scale(1.1);
}


.section2 img {
    width: 120px;
    height: auto;
}

.section2 img:hover {
    transition: transform 0.3s ease;
}

.section2 h1 {

    justify-content: center;
    align-items: center;
    color: white;
    font-size: 38px;
    padding: 150px 0px 0px 780px;
}

.section2 h2 {

    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    padding: 20px 0px 35px 0px;
}

.section2 img.printed {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    position: absolute;
}

.section2 span {
    color: white;
    
    
}

span.Focada{
    color: white;
    

}

